$primary-color: #ffba00;
$dark-orange: #fe9900;
$white-color: #ffffff;
$text-color: #222222;

$header-height: 100px;
$headerUp-height: 48px;
$headerDown-height: calc($header-height - $headerUp-height);
