@import '../../styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerUp-height;
  color: $text-color;

  .homeImage {
    padding: 10px 0;

    #img {
      cursor: pointer;
      width: 82px;
      height: 35px;
    }
  }

  .navList {
    display: flex;
    list-style: none;

    .item {
      display: block;
      height: 24px;
      padding: 0 24px;
      white-space: nowrap;
      font-size: 0.875rem;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      a {
        display: flex;
        align-items: center;
        .icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }

        span {
        }
      }
    }
  }
}
